// USE THIS FILE ONLY TO ADJUST BOOTSTRAP COMPONENT DEFAULT STYLES
// DO NOT USE THIS FOR GENERAL STYLING

// custom variables
$primary: #8a4fec;

// Nav tabs
$nav-tabs-border-color: #8a4fec;
$nav-tabs-border-radius: 0;
$nav-tabs-link-hover-border-color: #8a4fec;
$nav-tabs-link-active-color: white;
$nav-tabs-link-active-bg: #8a4fec;
$nav-tabs-link-active-border-color: #8a4fec;

* {
    margin: 0;
    padding: 0;
}

// import bootstrap
@import "../node_modules/bootstrap/scss/bootstrap";
