/* html .App * {
    margin: 0;
    padding: 0;
} */

body {
    margin: 0;
    padding: 0;
}

.App {
    min-height: 100vh;
    display: flex;
    padding: 0;
    margin: 0;
}

.App p {
    margin: 0;
    padding: 0;
}

body * {
    box-sizing: border-box;
}